@font-face {
    font-family: 'national_parkregular';
    src: url('nationalpark-regular-webfont.woff2') format('woff2'),
         url('nationalpark-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'national_parkregular';
    font-size: 1em;
    align-items: center;
    margin: 0;
    padding: 0;
}

a {
    color: #63847E;
}

a:hover,
a:focus {
    text-decoration: none;
}

.container {
    max-width: 30rem;
    margin: 2rem 1rem 0 1rem;
}

.hero {
    margin: 0 auto;
    width: 100%;
    padding-top: 1rem;
}

section {
    text-align: center;
    margin-top: 4.5rem;
}

section:first-of-type {
    margin-top: 0;
}

.heading-secondary {
    font-size: 1.75em;
    letter-spacing: 0.025em;
    line-height: 1;
}

.button {
    border-radius: 0.5rem;
    background-color: #63847E;
    color: #FFFFFF;
    margin-bottom: 2rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
}

.calendar-invite-google:hover,
.calendar-invite-google:focus {
    text-decoration: underline;
}

.venue {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.venue-more-info {
    font-size: 0.8rem;
    margin: 0.75rem 0 2rem 0;
    padding: 0;
}

.hotel-transport {
    margin-top: 2rem;
}

.map {
    width: 100%;
    height: 26rem;
    margin-top: 2rem;
}


@media screen and (min-width: 900px) {
    .hero {
        max-width: 60vw;
    }
}
